<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Produto</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <div class="container ">
        <div class="form-container">
            <h2>Novo Produto</h2>
            <form action="/cadastrarProduto" method="post" th:object="${produto}">
                <label>Nome:</label>
                <input type="text" th:field="*{nome}"/><br/>
                <label>Descrição:</label>
                <input type="text" th:field="*{descricao}"/><br/>
                <label>Valor:</label>
                <input type="number" step="0.01" th:field="*{valor}"/><br/>
                <label>Disponivel para venda:</label>
                <input type="checkbox" th:field="*{disponivelVenda}"/><br/>
                <input type="submit" value="Cadastrar"/>
            </form>
        </div>
            <a href="/">
                <input type="submit" class="buttonSubmit" value="Listar produtos"/>
            </a>
    </div>
</body>
</html>