<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Produtos</title>
    <link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>
<body>
    <div class="container">
        <h2>Produtos</h2>
        <table border="1">
            <thead>
            <tr>
                <th>Name</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Disponivel para Venda</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.nome}"></td>
                <td th:text="${produto.descricao}"></td>
                <td th:text="${produto.valor}"></td>
                <td th:text="${produto.disponivelVenda ? 'Sim' : 'Não'}"></td>
            </tr>
            </tbody>
        </table>
        <br/>
        <a href="/cadastrarProduto">
            <input type="submit" class="buttonSubmit" value="Cadastrar novo produto"/>
        </a>
    </div>
</body>
</html>